<div class="text"><span class="text_span"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></span></div>
<div class="rectangle-1"></div>
<div class="rectangle-29"></div>
<div class="productos"><span class="productos_span">PRODUCTOS</span></div>
<div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-congue-pulvinar-efficitur-in-quis-libero-mi-praesent-pharetra-turpis-at-magna-ullamcorper-et-tincidunt-nisl-fermentum-quisque-nec-est-vel-eros-porta-egestas-sit-amet-eu-nibh-maecenas-pretium-sapien-nec-orci-mattis-feugiat"><span class="loremipsumdolorsitametconsecteturadipiscingelitsedconguepulvinarefficiturinquisliberomipraesentpharetraturpisatmagnaullamcorperettinciduntnislfermentumquisquenecestvelerosportaegestassitameteunibhmaecenaspretiumsapiennecorcimattisfeugiat_span">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue pulvinar efficitur. In quis libero mi. Praesent pharetra turpis at magna ullamcorper, et tincidunt nisl fermentum. Quisque nec est vel eros porta egestas sit amet eu nibh. Maecenas pretium sapien nec orci mattis feugiat. </span></div>
<div class="rectangle-64"></div>
<div class="line-59"></div>
<div class="line-60"></div>
<div class="rectangle-24"></div>
<div class="line-61"></div>
<div class="line-62"></div>
<div class="rectangle-25"></div>
<div class="line-30"></div>
<div class="line-31"></div>
<div class="rectangle-26"></div>
<div class="line-32"></div>
<div class="line-33"></div>
<div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit"><span class="loremipsumdolorsitametconsecteturadipiscingelit_span">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></div>
<div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_01"><span class="loremipsumdolorsitametconsecteturadipiscingelit_01_span">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></div>
<div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_02"><span class="loremipsumdolorsitametconsecteturadipiscingelit_02_span">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></div>
<div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_03"><span class="loremipsumdolorsitametconsecteturadipiscingelit_03_span">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></div>
<div class="rectangle-61"></div>
<div class="filtros"><span class="filtros_span">Filtros</span></div>
<div class="line-63"></div>
<div class="rectangle-65"></div>
<div class="line-26"></div>
<div class="line-27"></div>
<div class="rectangle-23"></div>
<div class="line-28"></div>
<div class="line-29"></div>
<div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_04"><span class="loremipsumdolorsitametconsecteturadipiscingelit_04_span">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></div>
<div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_05"><span class="loremipsumdolorsitametconsecteturadipiscingelit_05_span">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></div>
<div class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_06"><span class="loremipsumdolorsitametconsecteturadipiscingelit_06_span">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></div>
<div class="productos-recomendados"><span class="productosrecomendados_span">Productos recomendados</span></div>
<div class="line-58"></div>
<div class="rectangle-58"></div>
<div class="fefacebook">
  <div class="vector"></div>
</div>
<div class="biinstagram">
  <div class="vector_01"></div>
</div>
<div class="grommet-iconslinkedin">
  <div class="vector_02"></div>
</div>
<div class="todos-los-derechos-reservados-aviso-legal-poltica-de-privacidad"><span class="todoslosderechosreservadosavisolegalpolticadeprivacidad_span">Todos los derechos reservados | Aviso legal  | Política de privacidad </span></div>
<img class="salmon-fly-gcc0eaa096_640-2" src="https://placehold.co/530x200" />
<div class="rectangle-60"></div>
<img class="angler-g70b97c5e8_640-4-1" src="https://placehold.co/284x118" />
<div class="productos_01"><span class="productos_span_01">Productos</span></div>
<div class="blog"><span class="blog_span">Blog</span></div>
<div class="contacto"><span class="contacto_span">Contacto</span></div>
<img class="wobblers-g2fcc8eee9_640-2" src="https://placehold.co/531x200" />
<img class="fishing-gd448cadf7_640-2" src="https://placehold.co/530x200" />
<img class="earthworm-gd3e80a0d9_640-2" src="https://placehold.co/530x198" />
<img class="fishing-gd448cadf7_640-3" src="https://placehold.co/455x345" />
<img class="earthworm-gd3e80a0d9_640-3" src="https://placehold.co/530x198" />
<img class="earthworm-gd3e80a0d9_640-4" src="https://placehold.co/469x347" />
<img class="gio-bartlett-jvp3ot4ig8k-unsplash-1" src="https://placehold.co/402x347" />
<img class="angler-g70b97c5e8_640-4-3" src="https://placehold.co/256x118" />
<div class="rectangle-62"></div>
<div class="ordenar-por"><span class="ordenarpor_span">Ordenar por</span></div>
<div class="rectangle-63"></div>
<div class="ver-mas"><span class="vermas_span">Ver mas</span></div>
<div class="rectangle-22"></div>
<div class="bsqueda-avanzada"><span class="bsquedaavanzada_span">Búsqueda Avanzada</span></div>
<div class="line-43"></div>
<div class="ellipse-6"></div>
<div class="rectangle-33"></div>
<div class="rectangle-34"></div>
<div class="rectangle-35"></div>
<div class="rectangle-36"></div>
<div class="rectangle-37"></div>
<div class="rectangle-39"></div>
<div class="rectangle-38"></div>
<div class="max"><span class="max_span">Max</span></div>
<div class="min"><span class="min_span">Min</span></div>
<div class="item-2"><span class="item2_span">Item 2</span></div>
<div class="item-1"><span class="item1_span">Item 1</span></div>
<div class="item-4"><span class="item4_span">Item 4</span></div>
<div class="item-5"><span class="item5_span">Item 5</span></div>
<div class="item-3"><span class="item3_span">Item 3</span></div>

<style>
.text_span {
  color: black;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.text {
  width: 39px;
  height: 16px;
}

.rectangle-1 {
  width: 55px;
  height: 19px;
}

.rectangle-29 {
  width: 1418px;
  height: 879px;
  background: rgba(69, 164, 61, 0.30);
}

.productos_span {
  color: black;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
}

.productos {
  width: 253px;
  height: 61px;
  text-align: center;
}

.loremipsumdolorsitametconsecteturadipiscingelitsedconguepulvinarefficiturinquisliberomipraesentpharetraturpisatmagnaullamcorperettinciduntnislfermentumquisquenecestvelerosportaegestassitameteunibhmaecenaspretiumsapiennecorcimattisfeugiat_span {
  color: black;
  font-size: 25px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-congue-pulvinar-efficitur-in-quis-libero-mi-praesent-pharetra-turpis-at-magna-ullamcorper-et-tincidunt-nisl-fermentum-quisque-nec-est-vel-eros-porta-egestas-sit-amet-eu-nibh-maecenas-pretium-sapien-nec-orci-mattis-feugiat {
  width: 975px;
  height: 123px;
  text-align: center;
}

.rectangle-64 {
  width: 523px;
  height: 198px;
  background: #C4C4C4;
}

.line-59 {
  width: 517.13px;
  height: 195.39px;
  transform: rotate(-21deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.line-60 {
  width: 524.16px;
  height: 195.10px;
  transform: rotate(20deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.rectangle-24 {
  width: 524px;
  height: 198px;
  background: #C4C4C4;
}

.line-61 {
  width: 516.36px;
  height: 195.39px;
  transform: rotate(-21deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.line-62 {
  width: 523.38px;
  height: 195.10px;
  transform: rotate(20deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.rectangle-25 {
  width: 526px;
  height: 198px;
  background: #C4C4C4;
}

.line-30 {
  width: 517.45px;
  height: 195.39px;
  transform: rotate(-21deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.line-31 {
  width: 523.89px;
  height: 195.39px;
  transform: rotate(20deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.rectangle-26 {
  width: 526px;
  height: 198px;
  background: #C4C4C4;
}

.line-32 {
  width: 517.45px;
  height: 195.39px;
  transform: rotate(-21deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.line-33 {
  width: 523.89px;
  height: 195.39px;
  transform: rotate(20deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.loremipsumdolorsitametconsecteturadipiscingelit_span {
  color: black;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit {
  width: 515px;
  height: 67px;
}

.loremipsumdolorsitametconsecteturadipiscingelit_01_span {
  color: black;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_01 {
  width: 513px;
  height: 67px;
}

.loremipsumdolorsitametconsecteturadipiscingelit_02_span {
  color: black;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_02 {
  width: 514px;
  height: 68px;
}

.loremipsumdolorsitametconsecteturadipiscingelit_03_span {
  color: black;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_03 {
  width: 517px;
  height: 67px;
}

.rectangle-61 {
  width: 322px;
  height: 96px;
  background: rgba(69, 164, 61, 0.90);
}

.filtros_span {
  color: black;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 500;
  word-wrap: break-word;
}

.filtros {
  width: 86px;
  height: 23px;
}

.line-63 {
  width: 305px;
  height: 0px;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.rectangle-65 {
  width: 281px;
  height: 249px;
  background: #C4C4C4;
}

.line-26 {
  width: 276.91px;
  height: 245.84px;
  transform: rotate(-42deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.line-27 {
  width: 280.36px;
  height: 245.84px;
  transform: rotate(41deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.rectangle-23 {
  width: 280px;
  height: 249px;
  background: #C4C4C4;
}

.line-28 {
  width: 276.91px;
  height: 245.84px;
  transform: rotate(-42deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.line-29 {
  width: 280.36px;
  height: 245.84px;
  transform: rotate(41deg);
  transform-origin: top left;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.loremipsumdolorsitametconsecteturadipiscingelit_04_span {
  color: black;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_04 {
  width: 395px;
  height: 117px;
}

.loremipsumdolorsitametconsecteturadipiscingelit_05_span {
  color: black;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_05 {
  width: 460px;
  height: 117px;
}

.loremipsumdolorsitametconsecteturadipiscingelit_06_span {
  color: black;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit_06 {
  width: 447px;
  height: 118px;
}

.productosrecomendados_span {
  color: black;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
}

.productos-recomendados {
  width: 518px;
  height: 61px;
  text-align: center;
}

.line-58 {
  width: 303px;
  height: 0px;
  outline: 4px #0FA3B1 solid;
  outline-offset: -2px;
}

.rectangle-58 {
  width: 1418px;
  height: 149px;
  background: black;
}

.vector {
  width: 50px;
  height: 50px;
  left: 5px;
  top: 5px;
  position: absolute;
  background: #45A43D;
}

.vector_01 {
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #45A43D;
}

.vector_02 {
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #45A43D;
}

.todoslosderechosreservadosavisolegalpolticadeprivacidad_span {
  color: white;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.todos-los-derechos-reservados-aviso-legal-poltica-de-privacidad {
  width: 579px;
  height: 32px;
  text-align: center;
}

.salmon-fly-gcc0eaa096_640-2 {
  width: 530px;
  height: 200px;
}

.rectangle-60 {
  width: 1413px;
  height: 131px;
  background: #111111;
}

.angler-g70b97c5e8_640-4-1 {
  width: 284px;
  height: 118px;
}

.productos_span_01 {
  color: white;
  font-size: 25px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
}

.productos_01 {
  width: 155px;
  height: 42px;
  text-align: center;
}

.blog_span {
  color: white;
  font-size: 25px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
}

.blog {
  width: 152px;
  height: 39px;
  text-align: center;
}

.contacto_span {
  color: white;
  font-size: 25px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
}

.contacto {
  width: 155px;
  height: 34px;
  text-align: center;
}

.wobblers-g2fcc8eee9_640-2 {
  width: 531px;
  height: 200px;
}

.fishing-gd448cadf7_640-2 {
  width: 530px;
  height: 200px;
}

.earthworm-gd3e80a0d9_640-2 {
  width: 530px;
  height: 198px;
}

.fishing-gd448cadf7_640-3 {
  width: 455px;
  height: 345px;
}

.earthworm-gd3e80a0d9_640-3 {
  width: 530px;
  height: 198px;
}

.earthworm-gd3e80a0d9_640-4 {
  width: 469px;
  height: 347px;
}

.gio-bartlett-jvp3ot4ig8k-unsplash-1 {
  width: 402px;
  height: 347px;
}

.angler-g70b97c5e8_640-4-3 {
  width: 256px;
  height: 118px;
}

.rectangle-62 {
  width: 288px;
  height: 96px;
  background: rgba(69, 164, 61, 0.80);
}

.ordenarpor_span {
  color: black;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 500;
  word-wrap: break-word;
}

.ordenar-por {
  width: 206px;
  height: 23px;
}

.rectangle-63 {
  width: 288px;
  height: 96px;
  background: rgba(69, 164, 61, 0.80);
}

.vermas_span {
  color: black;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 500;
  word-wrap: break-word;
}

.ver-mas {
  width: 138px;
  height: 27px;
  text-align: center;
}

.rectangle-22 {
  width: 323px;
  height: 585px;
  background: rgba(69, 164, 61, 0.80);
}

.bsquedaavanzada_span {
  color: black;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 500;
  word-wrap: break-word;
}

.bsqueda-avanzada {
  width: 289px;
  height: 57px;
}

.line-43 {
  width: 241px;
  height: 1px;
  outline: 1px black solid;
  outline-offset: -0.50px;
}

.ellipse-6 {
  width: 15px;
  height: 15px;
  background: #DB6C6C;
  border-radius: 9999px;
}

.rectangle-33 {
  width: 242px;
  height: 49px;
  background: linear-gradient(0deg, white 0%, white 100%), white;
}

.rectangle-34 {
  width: 242px;
  height: 49px;
  background: linear-gradient(0deg, white 0%, white 100%), white;
}

.rectangle-35 {
  width: 20px;
  height: 19px;
  background: linear-gradient(0deg, white 0%, white 100%), white;
}

.rectangle-36 {
  width: 20px;
  height: 19px;
  background: linear-gradient(0deg, white 0%, white 100%), white;
}

.rectangle-37 {
  width: 20px;
  height: 19px;
  background: linear-gradient(0deg, white 0%, white 100%), white;
}

.rectangle-39 {
  width: 20px;
  height: 19px;
  background: linear-gradient(0deg, white 0%, white 100%), white;
}

.rectangle-38 {
  width: 20px;
  height: 19px;
  background: linear-gradient(0deg, white 0%, white 100%), white;
}

.max_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.max {
  width: 102px;
  height: 19px;
}

.min_span {
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.min {
  width: 102px;
  height: 19px;
}

.item2_span {
  color: black;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.item-2 {
  width: 183px;
  height: 21px;
}

.item1_span {
  color: black;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.item-1 {
  width: 183px;
  height: 21px;
}

.item4_span {
  color: black;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.item-4 {
  width: 183px;
  height: 21px;
}

.item5_span {
  color: black;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.item-5 {
  width: 183px;
  height: 21px;
}

.item3_span {
  color: black;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.item-3 {
  width: 183px;
  height: 21px;
}

.fefacebook {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.biinstagram {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.grommet-iconslinkedin {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
}
</style>